h1 {
    color: blue;
    text-align: center;
}

#maindiv {
    display: grid;
    max-width: 600px;
    min-height: 600px;
    margin: 2rem auto;
    border: 2px solid gray;
}

.row {
    display: flex;
    flex-directioN: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
}

.cell {
    border: 1px solid lightgray;
}

button {
    display: block;
    margin: 0 auto;
}

.slidecontainer {
    width: 95%;
    display: flex;
}

#output {
    display: block;
    text-align: center;
    margin: auto;
    padding: auto;
}

input[type=submit] {
    width: 220px;
}

.control {
    position: relative;
}

.submit {
  box-shadow: 0px 8px 12px -7px #0d0d0d;
  background:linear-gradient(to bottom, #4573e8 5%, #033a69 100%);
  background-color:#4573e8;
  border-radius:41px;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 38px;
  text-decoration:none;
  text-shadow:-1px 2px 3px #030405;
  margin: 0 auto;
  }

.submit:hover {
  background:linear-gradient(to bottom, #033a69 5%, #4573e8 100%);
  background-color:#033a69;
}
.submit:active {
  position:relative;
  top:1px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   background: #4CAF50;
   cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }